/** @format */
/* use font styles */
@font-face {
  font-family: microsoft;
  src: url(./chinese.msyh.ttf);
}

body {
  padding: 0;
  margin: 0;
}

.content {
  padding: 0 80px;
}

.flex-property {
  display: flex;
  align-items: center;
}

.btn-reset {
  outline: none;
  border: none;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: white;
}

/* fix nav at top */

.fixed-top {
  position: sticky;
  top: 0;
  background-color: white;
  scroll-behavior: smooth;
  transition: all 0.5s linear;
  z-index: 1;
}

.hold-all-sections {
  position: relative;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.handle-nav {
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
  background-color: #fff;
}

.navbar-logo {
  width: 134px;
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.navbar-toggle-menu {
  z-index: 2;
}

.navbar-menu-icon {
  display: flex;
}

.navbar-menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-menu ul li a {
  text-decoration: none;
  color: black;
  font-family: microsoft;
  font-size: 18px;
}

.navbar-menu ul li a:hover,
.navbar-list-catagory select:hover {
  color: #dd4b39;
}

.navbar-menu-list > li:not(:first-child) {
  margin-left: 42px;
}

.navbar-list-catagory select {
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
}

select option:focus {
  background-color: unset;
}

.navbar-menu .navbar-arrow-down {
  padding-top: 4px;
  margin-left: 6px;
}

/* humberger */
/* .toogle-humberger {
  height: 24px;
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  right: 1.5rem;
  display: none;
}

.toogle-humberger span {
  height: 3px;
  width: 30px;
  transform-origin: left;
  transition: all 2s ease;
} */

/* contact */
.contact-section img {
  height: 350px;
  width: 100%;
}
.contact-details {
  max-width: 960px;
  width: 100%;
  margin: auto;
}
.fa-phone-square,
.fa-envelope,
.fa-map-marker {
  font-size: 18px !important;
}
.contact-details p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: microsoft;
}

.contact-details p span {
  padding-left: 16px;
}
iframe {
  display: block;
  width: 90%;
  max-width: 60rem;
  height: 25em;
  margin: 2rem auto;
  border: 1px solid black;
}

pre {
  text-align: center;
  width: 90%;
  max-width: 60rem;
  margin: 0 auto;
  background: #eee;
  padding: 2rem;
  border: 1px solid #000;
}

/* about */
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */

.accordians {
  margin: 54px 0;
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  font-family: microsoft;
  /* Icon */
}
.tab-label:hover {
  background: #dd4b39;
}
.tab-label::after {
  content: "â¯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  font-family: microsoft;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #dd4b39;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

/* footer */
.footer {
  position: relative;
  margin-top: auto;
  background-color: #2c3e50;
  padding: 34px 0 34px 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.footer a {
  text-decoration: none;
  font-family: microsoft;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
  white-space: nowrap;
}

.footer ul li a:hover {
  color: #dd4b39;
}

.footer .footer-body {
  max-width: 620px;
  width: 100%;
}

.fa {
  text-decoration: none;
  display: unset;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-google {
  background: #dd4b39;
  color: white;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-twitter {
  background: #00acee;
  color: white;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-button a:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.social-media-button a:not(:first-child) {
  padding-left: 42px;
}

.social-media-button a i {
  display: flex;
}

@media (max-width: 767px) {
  .content {
    padding: 14px 24px;
  }

  .navbar-menu-list > li:not(:first-child) {
    margin-left: 32px;
  }
}

@media (max-width: 576px) {
  .navbar-logo {
    width: 92px;
    height: 34px;
  }
  .content {
    padding: 14px 14px;
  }

  .navbar-menu-list > li:not(:first-child) {
    margin-left: 24px;
  }
}
